$font-theme-color: hsl(0, 0%, 44%);
$light-font-color: hsl(0, 100%, 100%);
$dark-font-color: hsl(0, 0%, 0%);

$muted-font-color: hsl(0, 0%, 50%);

$border-color: hsl(0, 0%, 83%, );
$error-color: hsl(358, 80%, 51%);
$warning-color: hsl(31, 82%, 55%);

$title-bar-color: hsl(214, 94%, 36%);